*{
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fafafafa;
}

html, body{
    height: auto;
    min-height: 100vh;
}

html{
    background: linear-gradient(180deg, #324E84 0% , #967D43 100%);
}

input:focus {
    outline: none;
}


#register-container{
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner{
    background: url(../img/coisalindria.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer{
    background-color: rgba(25, 11, 122, .4);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1{
    font-size: 4rem;
    margin-bottom: .5rem;
}

#register-form {
    background-color: #33333349;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

#register-form p{
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
    font-size: .8rem;
}

.form-control{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label{
    font-weight: bold;
    margin-bottom: .6rem;
}

.form-control input{
    border: none;
    border-bottom: 1px solid #aaa;
    padding: .6rem 0;
    background-color: #33333300;
}

.form-control input::placeholder{
    color: #a3a3a3fa;
}

#open-generate-password{
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

#open-generate-password{
    border-bottom: 1px solid #aaa;
}

#open-generate-password:hover{
    color: #024069;
}

#register-form #generated-password{
    border: 1px solid #024069;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: #fafafa;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p{
    color: #7795BB;
    margin-bottom: 0.5rem;
}

#register-form input[type="submit"],
#generate-password, #copy-password {
    color: #1b1b1b;
    background-color: #7795BB;
    opacity: .8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: center;
    transition: .4s;
}

#register-form input[type="submit"]:hover, #generate-password:hover{
    opacity: 1;
    background-color: #324E84;
    color: white;
}

#generate-options{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #aaa;
}

#generate-options .form-control{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generate-options label{
    font-size: .8rem;
}

#generate-options input[type="text"]{
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    border: 1px solid #aaa;
}

#generate-options button{
    color: white;
    background-color: #324d84b6;
    display: block;
    margin: 0 auto;
}

#copy-password{
    color: #7795BB;
    font-weight: bold;
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid #7795BB;
    padding: 0.7rem 1rem;
}

.form-control input{
    border-radius: 5px;
}

.form-control input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: #aaa;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid currentColor;
    border-radius: 0.1rem;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.form-control input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    color: #024069;
}
  
.form-control input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.hide{
    display: none;
}